<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= username %></p> 
<p class="lead mb-3">firstName: <%= firstName %></p> 
<p class="lead mb-3">lastName: <%= lastName %></p> 
<p class="lead mb-3">age: <%= age %></p> 
<p class="lead mb-3">email: <%= email %></p> 
<p class="lead mb-3">dateCreated: <%= dateCreated %></p> 
<p class="lead mb-3">dateUpdated: <%= dateUpdated %></p>
<p class="lead mb-3">lastActive: <%= lastActive %></p> 
<p class="lead mb-3">admin: <%= admin %></p> 

<a href="/posts/create" class="btn btn-secondary">test</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>