<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= username %></p> 
<p class="lead mb-3">Welcome <%= firstName %></p> 
<p class="lead mb-3">Welcome <%= lastName %></p> 
<p class="lead mb-3">Welcome <%= age %></p> 
<p class="lead mb-3">Welcome <%= email %></p> 
<a href="/users/logout" class="btn btn-secondary">Logout</a>